## Core latex/pdflatex auxiliary files:

*.aux
*.log
*.out
*.toc
*.bbl
*.blg

## Compiled files
*.pdf


## Build tool auxiliary files:
*.synctex.gz

## nomencl
*.nlo

## todo-package
*.tdo

## Beamer
*.nav
*.snm
